<div
  class="relative w-full h-[75vh] sm:h-[85vh] md:h-[89vh] max-[575px]:h-[60vh] overflow-hidden"
>
  <video
    autoplay
    muted="muted"
    loop
    playsinline="playsinline"
    preload="auto"
    class="absolute inset-0 w-full h-full object-cover"
  >
    <source src="assets/bannervideo.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div
    class="relative z-10 flex flex-col items-center justify-center h-full bg-black bg-opacity-50 text-white px-4 text-center"
  >
    <h1
      class="text-xl sm:text-2xl md:text-4xl lg:text-5xl font-bold mb-3 sm:mb-4"
    >
      Domestic & Commercial Electricians
    </h1>
    <p
      class="text-sm sm:text-base md:text-lg lg:text-2xl max-w-sm sm:max-w-md md:max-w-xl"
    >
      Expert solutions for residential and industrial electrical needs.
    </p>
  </div>
</div>
