<!-- <app-topbar></app-topbar> -->
<nav
  class="bg-gray-800 text-white top-8 sm:top-16 md:top-16 lg:top-16 "
  style="position: fixed; z-index: 8888; width: 100%"
>
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between items-center h-20">
      <!-- Logo -->
      <div class="flex items-center space-x-4">
        <img
          [routerLink]="['/']"
          src="../../../assets/electricalLogo.png"
          class="rounded-full object-cover shadow-md w-10 h-10 sm:w-14 sm:h-14 md:w-16 md:h-16 lg:w-13 lg:h-13"
          alt="Logo"
          style="cursor: pointer"
        />
      </div>

      <!-- Desktop Menu -->
      <div class="hidden md:flex space-x-6">
        <ng-container *ngFor="let item of menuItems">
          <a
            [routerLink]="['/' + item.route]"
            routerLinkActive="text-yellow-400 border-yellow-400"
            class="pb-1 border-b-2 border-transparent hover:border-yellow-400 hover:text-yellow-400 transition-all duration-300"
            [class.text-yellow-400]="activeMenu === item.key"
            [class.border-yellow-400]="activeMenu === item.key"
            (click)="setActiveMenu(item.key)"
          >
            {{ item.label }}
          </a>
        </ng-container>
      </div>

      <!-- Mobile Toggle Button -->
      <div class="block md:hidden">
        <button (click)="toggleMenu()" class="focus:outline-none">
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              *ngIf="!isMenuOpen"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            />
            <path
              *ngIf="isMenuOpen"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>

    <!-- Mobile Menu -->
    <div *ngIf="isMenuOpen" class="md:hidden pt-3 pb-4 flex flex-col space-y-2">
      <ng-container *ngFor="let item of menuItems">
        <a
          [routerLink]="['/' + item.route]"
          routerLinkActive="text-yellow-400 border-yellow-400"
          class="pb-1 border-b-2 border-transparent hover:border-yellow-400 hover:text-yellow-400 transition-all duration-300"
          [class.text-yellow-400]="activeMenu === item.key"
          [class.border-yellow-400]="activeMenu === item.key"
          (click)="handleMobileNavClick(item.key)"
        >
          {{ item.label }}
        </a>
      </ng-container>
    </div>
  </div>
</nav>
<!-- Page Content Spacing -->
<div class="pt-10 sm:pt-24 md:pt-28 lg:pt-20"></div>
