<div
  class="fixed top-0  left-0 w-full me-9 bg-white border-b border-gray-200 py-2 px-2 sm:px-4 z-[9999]"
>
  <div
    class="max-w-7xl mx-auto flex flex-wrap justify-center md:justify-end items-center gap-2 max-[425px]:gap-1 md:gap-8"
  >
    <div
      class="flex flex-wrap justify-center items-center gap-3 max-[425px]:gap-2 md:gap-6"
    >
      <img
        src="../../../assets/topone.png"
        alt="Registered Competent"
        class="h-6 max-[425px]:h-5 sm:h-8 md:h-12 w-auto object-contain"
      />
      <img
        src="../../../assets/twotwo.png"
        alt="NICEIC"
        class="h-6 max-[425px]:h-5 sm:h-8 md:h-12 w-auto object-contain"
      />

      <img
        src="../../../assets/top3.png"
        alt="City & Guilds"
        class="h-6 max-[425px]:h-5 sm:h-8 md:h-12 w-auto object-contain"
      />
      <img
        src="../../../assets/four.png"
        alt="Part P"
        class="h-6 max-[425px]:h-5 sm:h-8 md:h-12 w-auto object-contain"
      />
      <img
        src="../../../assets/six.png"
        alt="100% Satisfaction"
        class="h-6 max-[425px]:h-5 sm:h-8 md:h-12 w-auto object-contain"
      />
      <img
        src="../../../assets/7.png"
        alt="100% Satisfaction"
        class="h-6 max-[425px]:h-5 sm:h-8 md:h-12 w-auto object-contain"
      />
    </div>
  </div>
</div>
